.card__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.card__itens {
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.card__img {
  text-align: center;
  background-color: #fff;
}

.card__category {
  font-size: 14px;
  margin: 20px 15px;
  display: inline-block;
}

.card__itens h2 {
  font-weight: 700;
  margin: 0px 15px;
  margin-bottom: 20px;
  width: 100%;
  font-size: 16px;
}

.card__itens p {
  margin: 0px 15px;
  margin-bottom: 20px;
  font-weight: 500;
  flex: 1;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.card__price {
  margin: 0px 15px;
  color: var(--color-primary);
  margin-bottom: 20px;
  font-weight: 700;
}

.card__itens button {
  margin: 0px 15px;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  width: fit-content;
  padding: 10px;
  background-color: var(--color-secondary);
  color: #fff;
}